<table>
<thead>
  <tr>
    <th>Название категории</th>
    <th>Описание категории</th>
</th>
</thead>
<tbody>
  <% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.title, category %></td>
    <td><%= category.description %></td>
    <td><%= link_to 'Удалить', categories_path(@category), data: { confirm: 'Вы уверены?'}, method: :delete %></td>
  <% end %>
  </tr>
</tbody>
</table>

<%= link_to 'Новый', new_category_path, class: 'button' %>